<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>wrz</string>
				<string>wrl</string>
				<string>x3d</string>
				<string>x3dv</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>FreeWRL</string>
	<key>CFBundleGetInfoString</key>
	<string>FreeWRL VRML Browser freewrl.sf.net</string>
	<key>CFBundleHelpBookFolder</key>
	<string>HelpFolder</string>
	<key>CFBundleHelpBookName</key>
	<string>FreeWRLHelp</string>
	<key>CFBundleIconFile</key>
	<string>X3DFreeWRLIcon.icns</string>
	<key>CFBundleIdentifier</key>
	<string>FreeWRL VRML Browser freewrl.sf.net</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>FreeWRL</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.22.10</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.22.10</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
